/* GLOBAL */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f3f4f6;
}

/* FORCE HIDE APP */
#appContent {
  display: none;
}

/* HEADER */
.header {
  background: #111827;
  color: white;
  padding: 20px;
  text-align: center;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.stat {
  background: white;
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

/* SECTIONS */
.add-loan {
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  font-size: 16px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}

/* LOANS */
.loan-card {
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

/* LOCK SCREEN */
.lock-screen {
  position: fixed;
  inset: 0;
  background: #111827;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lock-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 300px;
  text-align: center;
}

#pinMsg {
  color: red;
}